
.test{border: 1px solid red;
}

body,html{ 
    font-family:'ProximaNova-Rg';
    height: 100%;
}

.bg-black {
    background-color: #000000!important;
}

.hero-text{
    
   height:100vh ; 
}

   section.hero h1{
        font-size: 5rem;
    font-family: 'ProximaNova Bold';
    letter-spacing: .1rem;
    color: #fff;
}

.hero-text p{
    font-size: 2.5rem;
    letter-spacing:.15rem;
}
section.hero{
    background:url(../img/hero_01.jpg)no-repeat center center;
    background-size: cover;
    height: 80vh;
}